oracle-images/
instance/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
OracleDB.db
main.py
questions.csv
tmp.py
tests
setup.cfg
setup.py
MANIFEST.in
wsgi.py
Procfile

train_image.zip
train_image/

model.state_dict

nohup.out